* {
    background-color: #28282e;
}

body {
    margin: 0;
    color: #ffc384;
}

h1 {
    font-family: "Jersey 15", sans-serif;
    text-decoration: underline;
    font-size: 50px;
    margin: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

p {
    font-family: "Jersey 15", sans-serif;
    font-size: 30px;
    margin-top: 0;
}

div {
    margin: 8px;
}

.gallery_box {
    float: left;
    width: 350px;
    max-width: 30%;
    max-height: 30%;
    box-sizing: border-box;
}

.item {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.item:hover {
    box-shadow: 0 0 1vw 0.50vw #ffc384;
}

.image_display_box {
    display: flex;
    align-items: center;
    background-color: #3f3f55;
    height: 60dvh;
}

.image_display {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #ffc384;
}

ul li a {
    display: block;
    background-color: #ffc384;
    color: #28282e;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    white-space: nowrap;
}

ul li a:hover {
    background-color: #6c5671;
    color: #ffc384;
}