* {
    background-color: #28282e;
}

body {
    margin: 0;
    color: #ffc384;
}

h1 {
    font-family: "Jersey 15", sans-serif;
    text-decoration: underline;
    font-size: 50px;
    margin: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

p {
    font-family: "Jersey 15", sans-serif;
    font-size: 30px;
    margin-top: 0;
}

div {
    margin: 8px;
}

.gallery_box {
    float: left;
    width: 350px;
    max-width: 30%;
    max-height: 30%;
    box-sizing: border-box;
}

.item {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.item:hover {
    box-shadow: 0 0 1vw 0.50vw #ffc384;
}

.image_display_box {
    display: grid;
    position: relative;
    align-items: center;
    background-color: #3f3f55;
    height: 60dvh;
    overflow: hidden;
}

.image_display {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.size_display_box {
    position: absolute;
    z-index: 3;
    background-color: #28282e;
    opacity: 0.8;
    border-radius: 5%;
    bottom: 0%;
}

.back_button {
    position: absolute;
    z-index: 3;
    top: 0%;
    margin: 1vh;
    color: #fff7e4;
    background-color: #28282e;
    border: none;
    font-family:  "Jersey 15", sans-serif;
    font-size: 25px;
    padding: 1%;
    padding-bottom: 0.5%;
    text-decoration: none;
    opacity: 0.9;
    border-radius: 15%;
}

.back_button:hover {
    border-style: solid;
    border-color: #fff7e4;
}

.image_size {
    color: #fff7e4;
    font-size: 25px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.glow-image {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px) brightness(130%);
}

.outsideContainer {
    display: flex;
}

.container {
    background-color: #3f3f55;
    overflow-wrap: anywhere;
}

#left_div {
    margin-left: 0%;
    width: var(--left_div_width, 375px);
}

#right_div {
    margin-right: 0%;
    width: var(--right_div_width, 250px);
}

.container_element {
    background-color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #ffc384;
}

ul li a {
    display: block;
    background-color: #ffc384;
    color: #28282e;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    white-space: nowrap;
}

ul li a:hover {
    background-color: #6c5671;
    color: #ffc384;
}