*{
    cursor: url('UI_Images/Larger_Cursor.png'), auto;
}

body {
    height: 100%;
    background-color: #28282e;
    margin: 0;
    color: #b0a9e4; 
}

h1 {
    font-family: "Jersey 15", sans-serif;
    text-decoration: underline;
    font-size: 50px;
    margin: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    font-family: "Jersey 15", sans-serif;
    font-size: 30px;
    margin-bottom: 3%;
}

p {
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    margin-top: 0;
}

a {
    cursor: url('UI_Images/Clicker.png'), pointer;
}

div {
    margin: 8px;
}

button {
    position: absolute;
    z-index: 2;
    background-color: #28282e;
    color: #fff7e4;
    border: none;
    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
    border-radius: 10%;
    padding: 1%;
    padding-bottom: 0.7%;
    opacity: 0.85;
    cursor: url('UI_Images/Clicker.png'), pointer;
}

#imageCarousel {
    align-content: center;
    justify-content: center;
    background-color: #3f3f55;
    position: relative;
    height: 60vh;
}

.rotatingImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: opacity 0.75s ease-in-out;
}

#leftButton {
    left: 0;
    margin-left: 1%;
}

#rightButton {
    right: 0;
    margin-right: 1%;
}

#pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
    width: 100px;
    height: 100px;
    gap: 5px;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
    background-color: transparent;
}

.circle {
    border-width: 1px;
    border-style: solid;
    border-color: #fff7e4;
    background-color: transparent;
    border-radius: 50%;
    width: 100%;
    height: 30px;
}

.gallery_box {
    float: left;
    width: 350px;
    max-width: 30%;
    max-height: 30%;
    box-sizing: border-box;
}

.item {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    transition: transform 0.1s ease-in-out;
    cursor: url('UI_Images/Clicker.png'), pointer;
}

.item:hover {
    box-shadow: 0 0 1vw 0.50vw #b0a9e4;
    transform: scale(1.05);
}

.image_display_box {
    display: grid;
    position: relative;
    align-items: center;
    background-image: radial-gradient(circle, #28282e, #3f3f55);
    height: 60dvh;
    overflow: hidden;
    border: 2px solid #6c5671;
}

.image_display {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.size_display_box {
    position: absolute;
    z-index: 3;
    background-color: #28282e;
    opacity: 0.8;
    border-radius: 5%;
    bottom: 0%;
}

.back_button {
    position: absolute;
    z-index: 3;
    top: 0%;
    margin: 1vh;
    color: #fff7e4;
    background-color: #28282e;
    font-family:  "Jersey 15", sans-serif;
    font-size: 25px;
    padding: 1%;
    padding-bottom: 0.5%;
    text-decoration: none;
    opacity: 0.9;
    border-radius: 15%;
}

.back_button:hover {
    border-style: solid;
    border-color: #fff7e4;
}

.image_size {
    color: #fff7e4;
    font-size: 25px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.glow-image {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px) brightness(130%);
}

.outsideContainer {
    display: flex;
}

.outsideContainer p {
    margin-bottom: 2%;
}

.container {
    background-image: radial-gradient(circle, #28282e, #3f3f55);
    overflow-wrap: anywhere;
    border: 2px solid #6c5671;
}

#left_div {
    margin-left: 0%;
    width: var(--left_div_width, 375px);
}

#right_div {
    margin-right: 0%;
    width: var(--right_div_width, 250px);
}

.container_element {
    background-color: inherit;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.pallete {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    padding: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.color {
    height: 14px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #b0a9e4;
}

ul li a {
    display: block;
    background-color: #b0a9e4;
    color: #28282e;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    white-space: nowrap;
}

a:hover {
    background-color: #accce4;
    color: #fff7e4;
}

#settings {
    display: block;
    background-color: #b0a9e4;
    color: #28282e;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    white-space: nowrap;
    border-radius: 0;
    font-family: initial;
    font-size: initial;
    right: 0;
}

#settings:hover {
    background-color: #accce4;
    color: #fff7e4;
}

#popup {
    margin: 0;
    opacity: 0;
    z-index: 2;
}

.blur {
    position: fixed;
    z-index: 100;
    top: 0%;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    margin: 0;
    backdrop-filter: blur(10px);
}

.popupBox {
    background-color: white;
    position: absolute;
    z-index: 100;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    border-radius: clamp(10px, 6%, 16px);
    align-items: center;
    justify-content: center;
}

#closePopup {
    top: 3%;
    right: 3%;
    width: fit-content;
    aspect-ratio: 1 / 1;
    border-radius: 6%;
}